a {
	text-decoration-line: none;
	cursor: pointer;
}

body {
	font-family: 'Crimson Text', sans-serif;
	color: #fff !important;
	overflow: hidden !important;
}

.style-link {
	opacity: 0;
	font-size: 2rem;
	color: #fff !important;
    text-decoration: none;
    letter-spacing: -5px;
}

.top-banner {
	text-align: center;
}

#content {
	background-image: url("../img/mountains.jpg");
	background-size: cover;
	background-position: 50% 0;
}

#name {
	padding-top: 15px;
	font-size: 4rem;
	letter-spacing: -5px;
	opacity: 0;
	color: #fff !important;
    text-decoration: none;
}

#pic {
	height: 100vh;
	background-image: url("../img/mountains.svg?lastmod=");
	background-size: cover;
	background-position: 50% 0;
}